NEXT_PUBLIC_APK_DOWNLOAD_URL=https://github.com/AditRaj-dev/CrewConnect/releases/download/v1.0.5/CrewConnect.v1.0.5.apk
NEXT_PUBLIC_MIN_ANDROID_VERSION=8.0
NEXT_PUBLIC_WEB_APP_URL=https://crew-connect-rosy.vercel.app/
